<% title "Room Type Feature" %>

<p>
  <strong>Name:</strong>
  <%= @room_type_feature.name %>
</p>

<p>
  <% if can? :update, RoomTypeFeature %>
    <%= link_to "Edit", edit_room_type_feature_path(@room_type_feature) %> | 
  <% end %>
  <% if can? :destroy, RoomTypeFeature %>
    <%= link_to "Destroy", @room_type_feature, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<%= link_to "Back to Roomtype Features", room_type_features_path %>
