<% title "Room Available Dates" %>

<%= render @room_available_dates %>

<% if can? :create, RoomAvailableDate %>
  <p><%= link_to "New Room Available Date", new_room_available_date_path %></p>
<% end%>
