/*    Methods & Variables   */

@frame: 1px solid #555;
@tabs_active_color: #999;
@body_color: #FFF;

.standard_font(@color: #FFCC00){
  color: #444;
  font-family: Verdana, Helvetica, Arial;
  font-size: 0.9em;
}


/*    Stylesheet    */

body{
  background-color: #4B7399;  
  .standard_font;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 900px;
  margin: 0 auto;
  padding: 30px 0;  
  position: relative;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


/*    Head    */

#header{  
  background: @body_color;
  padding: 10px 10px 0 10px;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

#user_nav{
  position: absolute;
  top: 0;
  right: 0;
  background: #FFF;
  padding: 5px;
}

#tabs{
  list-style: none;  
  padding: 0 15px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 4px solid @tabs_active_color;

  li{
    
    float: left;
    
    a:link, a:visited, a:hover, a:active{
      display: block;
      background: green;
      margin: 0 3px 0 0;
      padding: 5px 7px;
      color: #FFF;
      text-decoration: none;
    }
    a:hover{
      background: @tabs_active_color;
      color: #444;
    }
  }
}


/*    Body    */

#body{
  background: @body_color;  
  padding: 30px 10px 20px 10px; 
}


/*    Foot   */

#foot{
  background: @body_color;  
  padding: 10px;  
  .standard_font;  
}




