.hotel {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hotel #hotel_avatar {
  width: 150px;
  height: 150px;
  margin: 5px 0;
  float: left;
}
#hotel_content {
  padding: 10px 15px 35px 15px;
  float: left;
}
