<h3><%= hotel_feature.name %></h3>

<%= link_to "Show", hotel_feature %> | 
<%= link_to "Edit", edit_hotel_feature_path(hotel_feature) %> | 
<%= link_to "Destroy", hotel_feature, :confirm => 'Are you sure?', :method => :delete %>

<hr />
