<h3><%= link_to room_type.name, room_type %></h3>

<p>
  <%= room_type.description %>
  <% if can? :update, RoomType %>
    <%= link_to "Edit", edit_room_type_path(room_type) %> | 
  <% end %>
  <% if can? :destroy, RoomType %>
    <%= link_to "Destroy", room_type, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<hr />