<% title "Room Type Featurings" %>

<%= render @room_type_featurings %>

<% if can? :create, RoomTypeFeaturing %>
  <p><%= link_to "New Room Type Featuring", new_room_type_featuring_path %></p>
<% end %>
