<b>Price : </b><%= room.price %> | 
<%= room.room_type_id %>

<p>
  <% if can? :update, Room%>
    <%= link_to "Edit", edit_room_path(room) %>
  <% end %>
  <% if can? :destroy, Room%>
    <%= link_to "Destroy", room, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<hr />