HotelId : <%= hotel_featuring.hotel_id %><br />
HotelFeatureId : <%= hotel_featuring.hotel_feature_id %>

<p>
  <% if can? :update, HotelFeaturing %>
    <%= link_to "Edit", edit_hotel_featuring_path(hotel_featuring) %>
  <% end %>
  <% if can? :destroy, HotelFeaturing %>
    <%= link_to "Destroy", hotel_featuring, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<hr />