<p>
  <%= link_to gallery.name, gallery %><br />
  <% if can? :update, Gallery %>
    <%= link_to "Edit", edit_gallery_path(gallery) %> | 
  <% end %>
  <% if can? :destroy, Gallery %>
    <%= link_to "Destroy", gallery, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>

<ul>
  <% gallery.gallery_items.each do |gallery_item| %>
    <%= image_tag gallery_item.photo.url(:small)%><br/>
  <% end%>
</ul>