<div class="gallery" style="border-bottom: 1px solid #DDD; padding: 10px;">
  <h2><%= link_to gallery.name, gallery %></h2>

  <p>
    <% if can? :update, Gallery %>
      <%= link_to "edit gallery", gallery %> | 
    <% end %>
    <% if can? :destroy, Gallery %>
      <%= link_to "Destroy", gallery, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </p>

  <ul id="gallery">
    <% gallery.gallery_items.each do |gallery_item| %>
      <%= link_to image_tag(gallery_item.photo.url(:small)), gallery_item.photo.url, :title => gallery_item.name %>
      <%#= image_tag gallery_item.photo.url(:small)%><br/>
    <% end%>
  </ul>
</div>